@charset "UTF-8";
	#wrap{
	min-height: calc(100vh - 10rem);
	position: relative;
	}
	#result_card img{
 		max-width: 100%;
 	    height: auto;
	    display: block;
	    padding: 5px;
	    margin-top: 10px;
	    margin: auto;	
	    border-radius: 50%;
	    margin-left: 0px;
	}
	#result_card {
		position: relative;
		height: 200px;
	}
	.imgDeleteBtn{
	    position: absolute;
	    top: 0;
	    right: 70%;
	    background-color: #ef7d7d;
	    color: wheat;
	    font-weight: 900;
	    width: 30px;
	    height: 30px;
	    border-radius: 50%;
	    line-height: 26px;
	    text-align: center;
	    border: none;
	    display: block;
	    cursor: pointer;	
	}
	
     div.container{
      margin-top: 50px;
      margin-bottom: 20px;
    }
 
    div.create{
    width: 800px;
    text-align: center;
    padding: 30px;
    padding-bottom:16px;
    margin: auto;
    }
 
    table{
    height: 500px;
    width: 900px;
    border: 1px solid black;
    margin-right: auto;
    margin-left: auto;
    }
    
 
  	td > .col1{
    border-bottom: 1px dotted black;
    }
 
    caption{
    text-align: left;
    }
 	
    .col1 {
    font-size: 18px;
    background-color: #e8e8e8;
    padding: 30px;
    text-align: right;
    font-weight: bold;
    width: 200px;
    border-bottom: 1px dotted black;
    border-right: 1px dotted black;
    }
 
    .col2 {
    text-align: left;
    padding: 15px;
    font-size:17px;
    width: 200px;
    border-bottom: 1px dotted black;
    }
    
    #fileItem{
    margin: 10px;
    }
 
    .but4{
    height: 35px;
    width: 150px;
    background-color: white;
    border: 2px solid black;
    margin: 10px;
    }
    
    .but4:hover {
    background-color: #B942F5;
    color: white;
    border: 2px solid #B942F5;
    }
    
    
    tr> td >p{
    font-size: 0.7em;
    }
 
    .g{
    font-size: 0.7em;
    }
 
    .c{
    font-size: 0.7em;
    }
 
    .a{
    font-size: 0.7em;
    }
    
    #num1, #num2, #num3, #num4, #num5, #num9, #num10{
    color: red;
    height: 15.333px;
    }

    #num3{
    padding-left: 0px;
    }
    #num10{
    	padding-left: 45px;
    }
	